In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [2]:
path_xl = "auto-mpg.csv"
df = pd.read_csv(path_xl)
print(df)
df.info()

    mpg  cyl  displ   hp  weight  accel  yr  origin  \
0    18    8    307  130    3504   12.0  70       1
1    15    8    350  165    3693   11.5  70       1
2    18    8    318  150    3436   11.0  70       1
3    16    8    304  150    3433   12.0  70       1
4    17    8    302  140    3449   10.5  70       1
5    15    8    429  198    4341   10.0  70       1
6    14    8    454  220    4354    9.0  70       1
7    14    8    440  215    4312    8.5  70       1
8    14    8    455  225    4425   10.0  70       1
9    15    8    390  190    3850    8.5  70       1
10   15    8    383  170    3563   10.0  70       1
11   14    8    340  160    3609    8.0  70       1
12   15    8    400  150    3761    9.5  70       1
13   14    8    455  225    3086   10.0  70       1
14   24    4    113   95    2372   15.0  70       3
15   22    6    198   95    2833   15.5  70       1
16   18    6    199   97    2774   15.5  70       1
17   21    6    200   85    2587   16.0  70       1
18   27    4     97   88    2130   14.5  70       3
19   26    4     97   46    1835   20.5  70       2
20   25    4    110   87    2672   17.5  70       2
21   24    4    107   90    2430   14.5  70       2
22   25    4    104   95    2375   17.5  70       2
23   26    4    121  113    2234   12.5  70       2
24   21    6    199   90    2648   15.0  70       1

                            name
0      chevrolet chevelle malibu
1              buick skylark 320
2             plymouth satellite
3                  amc rebel sst
4                    ford torino
5               ford galaxie 500
6               chevrolet impala
7              plymouth fury iii
8               pontiac catalina
9             amc ambassador dpl
10           dodge challenger se
11            plymouth 'cuda 340
12         chevrolet monte carlo
13       buick estate wagon (sw)
14         toyota corona mark ii
15               plymouth duster
16                    amc hornet
17                 ford maverick
18                  datsun pl510
19  volkswagen 1131 deluxe sedan
20                   peugeot 504
21                   audi 100 ls
22                      saab 99e
23                      bmw 2002
24                   amc gremlin
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   mpg     25 non-null     int64
 1   cyl     25 non-null     int64
 2   displ   25 non-null     int64
 3   hp      25 non-null     int64
 4   weight  25 non-null     int64
 5   accel   25 non-null     float64
 6   yr      25 non-null     int64
 7   origin  25 non-null     int64
 8   name    25 non-null     object
dtypes: float64(1), int64(7), object(1)
memory usage: 1.9+ KB

In [ ]:
plt.scatter(df.mpg, df.hp, color='purple')
plt.xlabel('mpg')
plt.ylabel('hp')
plt.grid()
plt.axhline()
plt.axvline()
plt.show()

In [ ]:
plt.figure(figsize=(6, 6))
plt.scatter('mpg', 'hp', data=df[df.name.str.contains('chevrolet')], marker='o', color='red', label='chevrolet')
plt.scatter('mpg', 'hp', data=df[df.name.str.contains('volkswagen')], marker='o', color='blue', label='volkswagen')
plt.scatter('mpg', 'hp', data=df[df.name.str.contains('toyota')], marker='o', color='green', label='toyota')
plt.scatter('mpg', 'hp', data=df[df.name.str.contains('ford')], marker='o', color='yellow', label='ford')
plt.scatter('mpg', 'hp', data=df[df.name.str.contains('datsun')], marker='o', color='grey', label='datsun')
plt.scatter('mpg', 'hp', data=df[df.name.str.contains('bmw')], marker='o', color='cyan', label='bmw')
plt.legend(bbox_to_anchor = (1.05, 0.6))
plt.title('MPG data')
plt.xlabel('mpg')
plt.ylabel('hp')
plt.tick_params(labelsize=20);
plt.show()

In [ ]:

sns.lmplot(x='weight', y='hp', data=df, height=7)
# Display the plot
plt.title('MPG data')
plt.xlabel('weight')
plt.ylabel('hp')
plt.show()

In [ ]:
sns.pairplot(df[["mpg", "cyl", "displ", "weight"]], diag_kind="kde")

In [ ]:
display(df.describe().round(2))

In [ ]:
sns.countplot(x = df.origin.values, data=df)

sns.countplot(x = df.cyl.values, data=df)

In [ ]:
var = 'origin'
f, ax = plt.subplots(figsize=(6, 6))
fig = sns.boxplot(x=var, y="mpg", data=df)
plt.axhline(df.mpg.mean(),color='r',linestyle='dashed',linewidth=2)
plt.tick_params(labelsize=20);

var = 'yr'
f, ax = plt.subplots(figsize=(6, 6))
fig = sns.boxplot(x=var, y="mpg", data=df)
plt.axhline(df.mpg.mean(),color='r',linestyle='dashed',linewidth=2)
plt.tick_params(labelsize=20);

var = 'cyl'
f, ax = plt.subplots(figsize=(6, 6))
fig = sns.boxplot(x=var, y="mpg", data=df)
plt.axhline(df.mpg.mean(),color='r',linestyle='dashed',linewidth=2)
plt.tick_params(labelsize=20);

var = 'weight'
sns.set(font_scale = 2)
fig = sns.lmplot(x=var, y="mpg", data=df)
var = 'displ'
fig = sns.lmplot(x=var, y="mpg", data=df)
var = 'hp'
fig = sns.lmplot(x=var, y="mpg", data=df)
var = 'accel'
fig = sns.lmplot(x=var, y="mpg", data=df)